* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
}

footer {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #eee;
    text-align: center;
}